<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nirlvy.smart_freezer_backend.mapper.UserMapper">
    <!-- <update id="update">
        UPDATE user
        <set>
            <if test="userName != null and userName != ''">
                userName = #{userName}
            </if>
        </set>
        <where>
        id = #{id}
        </where>
    </update> -->
</mapper>
